<a href="https://colab.research.google.com/github/CesarRodriguez19/EstadisticaVerano/blob/main/U1_EjerciciosSeries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Operaciones con Series

Un grupo de estudiantes registró las horas que dedicaron a estudiar durante una semana. Los datos (en horas) son los siguientes:

Datos: `0, 3, 3, 2, 4, 5, 1, 2, 1, 6, 0, 5, 2`

Calcula la media del número de horas estudiadas.

Calcula la varianza de los datos.

Calcula la desviación estándar.

¿La varianza y la desviación estándar corresponden a una muestra o a una población?

In [ ]:
datos=[0,3,3,2,4,5,1,2,1,6,0,5,2]
import pandas as pd
serie_datos=pd.Series(datos)
print(datos)
print(" El promedio es=")
print(serie_datos.mean())

print("\n")
print(serie_datos.var())
print("\n")
print(serie_datos.std())

[0, 3, 3, 2, 4, 5, 1, 2, 1, 6, 0, 5, 2]
 El promedio es=
2.6153846153846154


3.756410256410257


1.9381460874790262

variansa muestral

Usando los datos del ejercicio anterior, realiza lo siguiente:

Sumale 2 a cada uno de los elementos

Multiplica por 3 cada uno de los elementos

Eleva al cuadrado cada uno de los elementos

In [ ]:
print("Datos mas 2=")
print(serie_datos+2)
print("Datos multiplicados por 3=")
print(serie_datos*3)
print("Datos elevados al cuadrado =")
print(serie_datos**2)

Datos mas 2=
0     2
1     5
2     5
3     4
4     6
5     7
6     3
7     4
8     3
9     8
10    2
11    7
12    4
dtype: int64
Datos multiplicados por 3=
0      0
1      9
2      9
3      6
4     12
5     15
6      3
7      6
8      3
9     18
10     0
11    15
12     6
dtype: int64
Datos elevados al cuadrado =
0      0
1      9
2      9
3      4
4     16
5     25
6      1
7      4
8      1
9     36
10     0
11    25
12     4
dtype: int64

Usando los datos del primer ejercicio, realiza lo siguiente:

Resta 5 a cada uno de los elementos y realiza la suma de los elementos resultantes

Multiplica por 2 cada uno de los elementos y realiza la suma

Eleva al cuadrado cada uno de los elementos y después realiza la suma de los elementos resultantes

Realiza la suma de los elementos y después eleva al cuadrado

In [ ]:
datos=[0,3,3,2,4,5,1,2,1,6,0,5,2]
import pandas as pd
serie_datos=pd.Series(datos)
serie_datos-5
print("Datos se le resta a cada uno 5 y suma de elementos")
print((serie_datos-5).sum())

print("Datos se multiplica por 2 y realizo la suma")
print((serie_datos*2).sum())

print("Datos se elevan al cuadrado y suma de los elementos")
print((serie_datos**2).sum())

print("Datos se suma de los elementos y despues se eleva al cuadrado")
print((serie_datos.sum())**2)

Datos se le resta a cada uno 5 y suma de elementos
-31
Datos se multiplica por 2 y realizo la suma
68
Datos se elevan al cuadrado y suma de los elementos
134
Datos se suma de los elementos y despues se eleva al cuadrado
1156